//General Colors

$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(68, 68, 68);
$tl-color: rgb(68, 68, 68);
$tx-color: rgb(119, 119, 119);
$lk-color: rgb(150, 149, 149);
$lk-hover-color: rgb(13, 110, 253);
$bg-footer-color: rgb(45, 46, 47);