@import 'reset';
@import 'variables';

.bg-nav{
    background-color: $primary-color;
}

.bg-footer{
    background-color: $bg-footer-color;
}

.tl-color h1,h2,h3,h4{
    color: $tl-color;
}

.tl-hover:hover{
    color: $lk-hover-color;
}

.tx-color p{
    color: $tx-color;
}

.lk-primary{
    color: $lk-hover-color;
    text-decoration: none;
}

.lk-primary:hover{
    color: $tx-color;
}

.lk-secondary{
    color: $lk-color;
    text-decoration: none;
}

.lk-secondary:hover{
    color: $lk-hover-color;
}

.ft-szh1{
    font-size: 28px;
}

.ft-szh2{
    font-size: 26px;
}

.ft-szh3{
    font-size: 18px;
}

.ft-szh4{
    font-size: 20px;
}

.ft-sz16{
    font-size: 16px;
}

.ft-sz14{
    font-size: 14px;
}

.ft-sz12{
    font-size: 12px;
}

.w-brand img{
    width: 190px;
}

.w-section-fuild{
    width: 50%;
}

.my-7{
    margin-top: 4.2rem;
}

.default-opacity:hover{
    transition: 0.5s ease;
    opacity: 1 !important;
}

@media (min-width: 576px){
    .w-section-fuild{
        width: 40%;
    }
}

@media (min-width: 768px){
    .w-section-fuild{
        width: 30%;
    }
}

@media (min-width: 992px){
    .navbar-nav .nav-item:not(:last-child){
        padding-right: 1rem;
    }
    .w-section-fuild{
        width: 60%;
    }
}

/* Modificações no Bootstrap */
.dropdown-item:hover{
    color: $primary-color;
    background-color: $secondary-color;
}